.button {
    -fx-background-color: 
        linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
        linear-gradient(#b9b9b9 0.0%, #c2c2c2 20.0%, #afafaf 80.0%, #c8c8c8 100.0%),
        linear-gradient(#f5f5f5 0.0%, #dbdbdb 50.0%, #cacaca 51.0%, #d7d7d7 100.0%);
    -fx-background-radius: 9.0,8.0,5.0,4.0;
    -fx-font-size: 18.0px;
    -fx-font-weight: bold;
}
.button:pressed {
	-fx-background-color: 
	linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
	linear-gradient(#e2e, #3a3a3a),
	linear-gradient(#f5f5f5 50.0%, #dbdbdb 50.0%, #cacaca 51.0%, #d7d7d7 100.0%);
}
.text-field {
	-fx-background-color: 
	linear-gradient(#EEE 00.0%,#EEE 25.0%,#EEE 90.0%, #757575 100.0%);
}